@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300;400;500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #91b3b6;
    font-family: 'open-sans', 'sans-serif';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

ul {
    padding-left: 0;
}

div {
    margin-bottom: 1.5vh;
}

div.seat {
    margin-top: 2px;
}

select.select {
    margin-left: 10px;
}

.pickMovie {
    display: flex;
    padding-left: 1vh;

}

.seatDeclare {
    display: flex;
    margin: 0;

}

.screen {
    /* width: 200px;
    height: 50px;
    background-color: aliceblue;
    box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7); */
    margin: 0;
}

img {
    width: 240px;
    height: 120px;
}

ul.seat-deck {
    padding-left: 10px;
}

.seat-deck li {
    padding: 2px;
}

.seat {
    width: 15px;
    height: 12px;
    margin-left: 4px;
    background-color: rgb(78, 78, 78);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.Na-seat:hover {
    cursor: pointer;
    margin-top: -0.1px;
}

.Selected-seat {
    background-color: aqua;

}

.Occuoied-seat {
    background-color: rgb(255, 255, 255);
}


li {
    list-style-type: none;
}

.seat-deck {
    display: flex;
}

.seat-row {
    display: flex;
}